:root {
	--white-color: white;
	--black-color: black;
	/*size*/
	--padding: 14px;
	/*font-size*/
	--title: 36px;
	--menu: 16px;
}

ul {
	list-style: none;
}

button {
	border: none;
	background-color: peru;
	outline: none;
	cursor: pointer;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: peru;
	font-family: "Noto Sans", sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* padding-bottom: var(--padding); */
	border-bottom: 2px solid var(--black-color);
}

header .title {
	font-size: var(--title);
	padding-left: calc(var(--padding) * 2);
}

.menu {
	display: flex;
	justify-content: space-between;
	width: 50%;
}

.menu .item {
	padding: 4 13px;
}

.menu button:hover {
	background-color: var(--white-color);
	border-radius: 4px;
}

.menu .item button {
	font-size: var(--menu);
	padding: 8px;
}

header .icons {
	padding: var(--padding);
}

header .icons i {
	padding-left: 5px;
}

.side_menu {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.side_menu ul {
	width: 160px;
	height: 100%;
	border-right: 2px solid var(--black-color);
}

.side_menu button {
	font-size: 16px;
}

.side_menu button:hover {
	font-size: var(--menu);
	background-color: var(--white-color);
	border-radius: 4px;
	width: 130px;
}

.side_menu li {
	padding: var(--padding);
}

header .moreBtn {
	display: none;
}

@media screen and (max-width: 657px) {
	header {
		display: flex;
		flex-direction: column;
	}

	header .title {
		justify-content: flex-start;
		width: 100%;
	}

	header .menu {
		display: none;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	header .menu li {
		width: 100%;
	}

	header .icons {
		display: none;
	}

	header .menu button {
		width: 100%;
	}

	header .moreBtn {
		display: block;
		position: absolute;
		right: 20px;
		padding: 15px;
	}

	header .menu.clicked,
	header .icons.clicked {
		display: flex;
	}

	header .moreBtn.clicked {
	}
}
